.product {
    padding: 50px 0;
    &__wrapper {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__btns {
        z-index: 1;
        position: absolute;
        width: calc(100% - 50px);
        bottom: 55px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .promo__btn {
            margin: 0;
            color: #fff;
           
            width: calc(50% - 15px);
            font-weight: 500;
            font-size: 24px;
            height: 46px;
            &_buy {
                background: $main-color;
                &:hover {
                    background: #fff;
                    color: $main-color;
                }

            }
            &_rent {
                background: #fff;
                color: $text-color;
                &:hover {
                    background: $main-color;
                    color: #fff;
                }
            }
        }
    }
    .subtitle {
        z-index: 1;
        position: relative;
        text-align: center;
        color: #fff;
    }
    &__item {
        max-width: 556px;
        width: 45%;
        height: 370px;
        border: 1px solid $main-color;
        margin-bottom: 70px;
        position: relative;
        cursor: pointer;
        padding: 25px;
        background: #fff;
        &__wrap {
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            padding: 25px;
            position: relative;
        }
        &1 {
            
            .product__item__wrap {
                background: url(../img/product_torg.jpg) no-repeat center;
               
            }
            
           
            
        }
        &2 {
            .product__item__wrap {
                background: url(../img/product_sklad.jpg) no-repeat center;
                
            }
        }
        &3 {
            .product__item__wrap {
                background: url(../img/product_office.jpg) no-repeat center;
                
            }
        }
        &4 {
            .product__item__wrap {
                background: url(../img/product_home.jpg) no-repeat center;
                
            }
        }
    }
    
}