* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import '_vari.scss';
body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: $text-color;
}


.container {
    max-width: 1160px;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.title {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: $text-color;
}
.subtitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: $text-color;
}
.btn {
    width: 250px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid $main-color;
    margin: 0 auto 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $text-color;
    &:hover {
        background: $main-color;
        color: #fff;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 4px 4px 4px rgba(16, 16, 16, 0.68);
    }
}


@import '_header';
@import '_promo';
@import '_modal';
@import 'product';

@import '_rew';
@import '_footer';

@import '_torg';
@import '_serv';

@import '_company';
@import '_calc';

@import '_media.scss';



